body {
  font-family:monospace;
  text-align:center;
  background-color: rgb(255, 255, 255)

}

.navbar, .navbar-brand {
  text-align: center;
  display: block;
  width: 100%;
  background-color: rgb(255, 255, 255);
  
}

div.navbar-brand {
  padding-top: 1em;
  margin-bottom: 1em;
  
}

.navbar .navbar-brand > .navbar-item,
.navbar .navbar-brand .navbar-link {
  display: inline-block;
}

main {
  margin-top: 1em;
  margin-bottom: 0.1em;
  margin-left: 32em;
  margin-right: 32em;
}

.profilePic {
	clip-path:ellipse();
  width: 300px;
}

.label {
  text-align: left;
}

footer.footer {
  background-color: rgb(255, 255, 255);
}

@media only screen and (max-width: 550px) {
  main {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
  }

}

@media only screen and (max-width: 760px) {
  main {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
  }

  
}
@media only screen and (max-width: 800px) {
  main {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
  }

  
}
@media only screen and (max-width: 1024px) {
    main {
      margin-top: 1em;
      margin-bottom: 1em;
      margin-left: 1em;
      margin-right: 1em;
    }

    
}

@media only screen and (max-width: 1290px) {
  main {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
  }

  
}

@media only screen and (max-width: 1440px) {
  main {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
  }

  
}